---
services:
  grafana:
    image: grafana/grafana
    container_name: grafana
    restart: unless-stopped
    user: '0'
    ports:
      - '3000:3000'
    volumes:
      - '/mnt/config/grafana/data:/var/lib/grafana'
